# Ledger adapter URL
LEDGER_ADAPTER_URL=http://ledger-adapter:8085

# PostgreSQL
DB_HOST=postgres
DB_PORT=5432
POSTGRES_USER=root
POSTGRES_PASSWORD=root
POSTGRES_DB=wms_blockchain_db

# Kafka
KAFKA_BROKER=kafka:9092

# JWT
JWT_SECRET=dev-secret
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=168h
